@font-face {
  font-family: 'Atlanta Rosery';
  src: url('../fonts/AlantaRosery-MVXKJ.otf');
}

@font-face {
  font-family: 'Bellyman Regular';
  src: url('../fonts/BellymanRegular-8M59g.ttf');
}

@font-face {
  font-family: 'Gofar Serif';
  src: url('../fonts/GofarSerifPersonalUseRegular-qZMzr.otf');
}

* {
  box-sizing: border-box;
  user-select: none;
}

.App {
  text-align: center;
}

#Title {
  font-family: 'Gofar Serif';
  font-size: 100px;
  background: linear-gradient(90deg, #cfe9d2 0%, #bfcbe0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  margin: 0;
  padding: 25px 0;
}

.GridContainer {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.LoginGrid {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 450px;
  grid-gap: 5px;
  justify-content: center;
  border-radius: 10px;
}

.LoginText {
  font-family: 'Helvetica';
  font-size: x-large;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.Form input {
  height: 37.5px;
  width: 75%;
  margin: 1.5%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
}

.Form button {
  display: block;
  margin: auto;
  margin-top: 3%;
  height: 34.5px;
  width: 50%;
  border-radius: 15px;
  border: 1px solid gray;
  background: linear-gradient(90deg, #cfe9d2 0%, #bfcbe0 100%);
  color: white;
  font-family: Arial;
  font-size: large;
}

.StreetGrid {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 65px 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.NavBar {
  grid-column: span 3;
  background: linear-gradient(90deg, #bfcbe0 0%, #cfe9d2 100%);
}

.NavBar h2 {
  text-align: left;
  margin-left: 1.5%;
}

.NavBar a {
  font-family: Arial;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 1.5%;
  padding-right: 10px;
}

.StreetPost {
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.PostFeed {
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.StreetPost p {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 5px;
  font-family: Helvetica;
  font-size: 20px;
  color: black;
  font-weight: bold;
  text-align: left;
}

#Name {
  font-size: 18px;
  font-weight: bold;
  padding-right: 5px;
}

#Handle {
  color: #9ACD32;
  font-size: 18px;
  font-weight: bold;
}

.StreetPost textarea {
  width: 100%;
  height: 75px;
  resize: none;
  padding: 10px;
  margin-bottom: 1.5%;
  font-family: Arial;
  font-size: 16px;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: rgb(128, 128, 128, 0.6);
  font-weight: bold;
}

.PostContainer {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  font-family: Arial;
  font-size: 16px;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 10px;
}

.PostContent {
  padding-left: 10px;
  font-family: Helvetica;
  font-size: 18px;
  color: black;
  text-align: left;
}

.PostContent p {
  margin-top: 0;
  margin-bottom: 0;
}

.IconBar {
  text-align: left;
  width: 20%;
}

.CommentContainer {
  position: relative;
  width: 75%;
  float: right;
  text-align: left;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 10px;
  margin-top: -3.5%;
  margin-bottom: 5%;
  padding: 7.5px;
  transition-duration: 500ms;
}

.CommentContainer h4 {
  margin: 0;
  padding-left: 5px;
}

.CommentContainer p {
  margin: 0;
  padding-left: 5px;
  padding-top: 3.5px;
  padding-bottom: 5px;
}

.CommentForm {
  clear: both;
  position: relative;
  margin-bottom: 9.5%;
}

.CommentForm textarea {
  width: 75%;
  float: right;
  text-align: left;
  margin-top: -3.5%;
  margin-bottom: 1.5%;
  border: 1px solid rgb(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 7.5px;
  resize: none;
  font-family: Arial;
  font-size: 16px;
  }

#FeedContent {
  padding-top: .75%;
}

#StreetButton {
  display: block;
  margin-left: auto;
  margin-right: 0;
  width: 20%;
  border: none;
  border-radius: 20px;
  padding-bottom: 5px;
  background-color: #20B2AA;
  font-family: 'Gofar Serif';
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: lowercase;
}

#StreetButton:hover {
  cursor: pointer;
}

#RegHeart {
  margin-top: 2%;
  margin-left: 10%;
  font-size: 20px;
}

#RegHeart:hover {
  cursor: pointer;
}

#SolidHeart {
  color: #FF6347;
  margin-top: 2%;
  margin-left: 10%;
  font-size: 20px;
}

#SolidHeart:hover {
  cursor: pointer;
}

#ConvoBubble {
  margin-top: 2%;
  margin-left: 7.5%;
  font-size: 20px;
}

#ConvoBubble:hover {
  cursor: pointer;
}

#RegLike {
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 21px;
}

#RegLike:hover {
  cursor: pointer;
}

#CommentButton {
  position: absolute;
  right: 0;
  margin-right: 2.25%;
  margin-top: -1%;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #20B2AA;
}

#CommentButton:hover {
  cursor: pointer;
}

#Close {
  font-size: 20px;
  margin-right: 2.5%;
  padding-top: 1.25%;
}

#Edit {
  position: absolute;
  font-size: 20px;
  right: 3%;
  top: 43.5%;
}
