* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav h1 {
  font-family: 'Atlanta Rosery';
  color: black;
  font-size: 65px;
  margin-top: 5%;
  margin-bottom: 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}


.GridContainer {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.LoginGrid {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: 450px;
  grid-gap: 5px;
  justify-content: center;
  background-color: #61dafb;
  border-radius: 10px;
}

.Form input {
  height: 30px;
  width: 65%;
  margin: 1%;
}

.Form button {
  margin-top: 3%;
  height: 30px;
  width: 50%;
}

button {
  display: block;
  margin: auto;
}

.navLink {
  color: white;
}

.StreetForm textarea {
  resize: none;
}